body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 20px;
}
.code-container {
	background-color: #292828;
	color: #f8f8f2;
	padding: 20px;
	border-radius: 5px;
	overflow: auto;
	max-width: 600px;
	margin: 20px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.code-container pre {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
}
h2 {
	color: #7e095b;
	font-style: italic;
}

code {
	background-color: #f8f8f2;
	color: #7e095b;
	padding: 2px 5px;
	border-radius: 3px;
}
